torch>=2.0.0
torchvision
transformers
accelerate
bitsandbytes>=0.46.1
peft
trl
huggingface_hub
datasets
langchain
langchain-community
langchain-core
langchain-text-splitters
chromadb
sentence-transformers
pypdf
PyMuPDF
Pillow==10.3.0
pandas
numpy
scikit-learn
streamlit
